<launch>
    <arg name="robot1_name" default="h1"/>
    <arg name="tfpre_1" default="$(arg robot1_name)_tf" />
    <arg name="robot2_name" default="h2"/>
    <arg name="tfpre_2" default="$(arg robot2_name)_tf" />
	<arg name="base_global_planner" default="navfn/NavfnROS"/>
	<arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>
	<arg name="no_static_map" default="false"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(find husky_navigation)/maps/playpen_map.yaml"/>
    <group ns="h1">
 		<node pkg="amcl" type="amcl" name="amcl1" output="screen">
 			<remap from="scan" to="front/scan"/>
 			<param name="odom_frame_id" value="$(arg tfpre_1)/odom"/>
 			<param name="odom_model_type" value="diff"/>
 			<param name="base_frame_id" value="$(arg tfpre_1)/base_link"/>
			<param name="update_min_d" value="0.1"/>
			<param name="update_min_a" value="1.0"/>
			<param name="global_frame_id" value="map" />
			<param name="use_map_topic" value="true" />
		    <remap from="initialpose" to="$(arg robot1_name)/initialpose"/>
		    <remap from="amcl_pose" to="$(arg robot1_name)/amcl_pose"/>
		    <remap from="particlecloud" to="$(arg robot1_name)/particlecloud"/>
 		</node>
		<node pkg="move_base" type="move_base" respawn="false" name="move_base1" output="screen">
			<param name="base_global_planner" value="$(arg base_global_planner)"/>
			<param name="base_local_planner" value="$(arg base_local_planner)"/>
			<remap from="/front/scan" to="/$(arg robot1_name)/front/scan"/>
			<remap from="/move_base_simple/goal" to="/$(arg robot1_name)/move_base_simple/goal"/>
			<rosparam file="$(find husky_navigation)/config/planner.yaml" command="load"/>
			<rosparam file="$(find husky_navigation)/config/costmap_common.yaml" command="load" ns="global_costmap" />
			<rosparam file="$(find husky_navigation)/config/costmap_common.yaml" command="load" ns="local_costmap" />
		    <rosparam file="$(find husky_navigation)/config/costmap_local.yaml" command="load" ns="local_costmap" />
		    <param name="local_costmap/width" value="10.0" if="$(arg no_static_map)"/>
    		<param name="local_costmap/height" value="10.0" if="$(arg no_static_map)"/>
			<param name="global_costmap/global_frame"       value="$(arg tfpre_1)/odom"/>
			<param name="global_costmap/robot_base_frame"   value="$(arg tfpre_1)/base_link"/>
			<param name="local_costmap/global_frame"        value="$(arg tfpre_1)/odom"/>
			<param name="local_costmap/robot_base_frame"    value="$(arg tfpre_1)/base_link"/>
		    <rosparam file="$(find husky_navigation)/config/costmap_global_static.yaml" command="load" ns="global_costmap" unless="$(arg no_static_map)"/>
			<rosparam file="$(find husky_navigation)/config/costmap_global_laser.yaml" command="load" ns="global_costmap" if="$(arg no_static_map)"/>
		</node>
    </group>
    <group ns="h2">
 		<node pkg="amcl" type="amcl" name="amcl2" output="screen">
 			<remap from="scan" to="front/scan"/>
 			<param name="odom_frame_id" value="$(arg tfpre_2)/odom"/>
 			<param name="odom_model_type" value="diff"/>
 			<param name="base_frame_id" value="$(arg tfpre_2)/base_link"/>
			<param name="update_min_d" value="0.1"/>
			<param name="update_min_a" value="1.0"/>
			<param name="global_frame_id" value="map" />
			<param name="use_map_topic" value="true" />
		    <remap from="initialpose" to="$(arg robot2_name)/initialpose"/>
		    <remap from="amcl_pose" to="$(arg robot2_name)/amcl_pose"/>
		    <remap from="particlecloud" to="$(arg robot2_name)/particlecloud"/>
 		</node>
		<node pkg="move_base" type="move_base" respawn="false" name="move_base2" output="screen">
			<param name="base_global_planner" value="$(arg base_global_planner)"/>
			<param name="base_local_planner" value="$(arg base_local_planner)"/>
			<remap from="/front/scan" to="/h1/front/scan"/>
			<remap from="/move_base_simple/goal" to="/$(arg robot2_name)/move_base_simple/goal"/>
			<rosparam file="$(find husky_navigation)/config/planner.yaml" command="load"/>
			<rosparam file="$(find husky_navigation)/config/costmap_common.yaml" command="load" ns="global_costmap" />
			<rosparam file="$(find husky_navigation)/config/costmap_common.yaml" command="load" ns="local_costmap" />
		    <rosparam file="$(find husky_navigation)/config/costmap_local.yaml" command="load" ns="local_costmap" />
		    <param name="local_costmap/width" value="10.0" if="$(arg no_static_map)"/>
    		<param name="local_costmap/height" value="10.0" if="$(arg no_static_map)"/>
			<param name="global_costmap/global_frame"       value="$(arg tfpre_2)/odom"/>
			<param name="global_costmap/robot_base_frame"   value="$(arg tfpre_2)/base_link"/>
			<param name="local_costmap/global_frame"        value="$(arg tfpre_2)/odom"/>
			<param name="local_costmap/robot_base_frame"    value="$(arg tfpre_2)/base_link"/>
		    <rosparam file="$(find husky_navigation)/config/costmap_global_static.yaml" command="load" ns="global_costmap" unless="$(arg no_static_map)"/>
			<rosparam file="$(find husky_navigation)/config/costmap_global_laser.yaml" command="load" ns="global_costmap" if="$(arg no_static_map)"/>
		</node>
    </group>
</launch>